@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	display: flex;
	height: 100%;
	overflow-x: auto;

	.infoContainer {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding: 64px 128px 64px 64px;

		.backButtonContainer {
			display: flex;
			align-items: center;

			&__text {
				font-size: 3.2rem;
				font-weight: 700;
				color: #1e1e1e;
				text-decoration: none;
			}

			&__icon {
				display: none;
			}
		}

		&__name {
			margin: 54px 0 13px;
			font-size: 4.8rem;
			font-weight: 500;
			color: #1e1e1e;
		}

		&__date {
			font-size: 3.6rem;
			font-weight: 400;
			color: #1e1e1e;
		}

		.locationContainer {
			display: flex;
			align-items: center;
			margin: 13px 0 64px;

			&__text {
				font-size: 2.4rem;
				font-weight: 400;
				color: #1e1e1e;
			}

			&__text:first-child {
				margin-inline-end: 3px;
			}
		}

		&__description {
			width: 400px;
			overflow-y: auto;
			font-size: 2.4rem;
			font-weight: 300;
			color: #1e1e1e;
		}

		.scrollContainer {
			position: absolute;
			right: 16px;
			bottom: 24px;
			display: flex;
			align-items: center;

			&__text {
				margin-inline-end: 16px;
				font-size: 3.2rem;
				font-weight: 400;
				color: #1e1e1e;
			}

			&__icon {
				width: 43px;
				height: auto;
				fill: #1e1e1e;
			}
		}
	}

	.imageSlideContainer {
		display: flex;

		.imageContainer {
			position: relative;
			width: 100vw;
			height: 100vh;
			object-fit: cover;

			&__image {
				width: 100vw;
				height: 100%;
				object-fit: cover;
			}

			&__caption {
				position: absolute;
				bottom: 24px;
				left: 24px;
				font-size: 3.2rem;
				font-weight: 500;
				color: #fff;
				mix-blend-mode: exclusion;
			}
		}
	}
}

@media (max-width: map.get($sizes, main-mobile-width)) {
	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-x: hidden;

		.infoContainer {
			display: flex;
			flex-direction: column;
			height: initial;
			padding: 12px 16px 0;

			.backButtonContainer {
				&__icon {
					display: flex;
					width: 20px;
					height: 19px;
					margin-inline-end: 8px;
					cursor: pointer;
					fill: #1e1e1e;
				}

				&__text {
					font-size: 2.4rem;
				}
			}

			&__name {
				margin: 48px 0 13px;
				font-size: 4rem;
			}

			&__description {
				width: 100%;
			}

			.scrollContainer {
				display: none;
			}
		}

		.imageSlideContainer {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;

			.imageContainer {
				display: none;
			}
		}
	}
}
